{% extends "picman/base.html"  %}
{%block body%}
<a class="btn btn-primary" href="AddCate">添加</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Path</th>
    </tr>
  </thead>
  <tbody>
	{% for l in cate %}
    <tr>
      <th scope="row">{{l.pcateid}}</th>
      <td>{{l.title}}</td>
      <td>{{l.text}}</td>
      <td>{{l.categorypath}}</td>
    </tr>
	{%endfor%}
  </tbody>
</table>
{%endblock%}
