{% extends "rasterviewer/base.html"  %}
{%block body%}
<div class="container">
  <div class="row">
    <div class="col">
      {% for n in rasterNames %}
        <a href="imagepair/{{n}}/Image" target="_blank"><img width='32px' style="margin:1px"  class="border border-primary" src='readThumb/{{n}}/Image/32'></a>
      {% endfor %}
    </div>
    <div class="col">
      {% for n in rasterNames %}
        <a href="imagepair/{{n}}/Label" target="_blank"><img width='32px' style="margin: 1px" class="border border-warning" src='readThumb/{{n}}/Label/32'></a>
      {% endfor %}
    </div>
  </div>
</div>
{%endblock%}
