{% extends "picview/base.html"  %}
{%block body%}
	<div id="doclist">
	{% for l in docs %}
    {% if (loop.index-1) % 4 == 0 %}
      <div class="row">
    {% endif %}
      <div class="col col-lg-3">
        <div class="card">
					<img class="card-img-top" width="" src="{{l.cover}}" />
          <div class="card-body">
						<a class="card-link" target="_blank" href="/picview/files/{{l.title}}">{{l.title}},{{l.pdocid}}</a>
					</div>
        </div>
      </div>
    {%- if loop.index% 4 == 0 %}
      </div>
    {% endif %}
	{%endfor%}
	</div>
	<nav aria-label="document list paging" id="docpagi" max-size="5">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#" tabindex="-1">上一页</a></li>
			{%for i in range(pages)%}
			<li class="page-item">
				<a class="page-link" href="/picview/docs/1/{{i+1}}">{{i+1}}</a>
			</li>
			{% endfor %}

			<li class="page-item">
				<a class="page-link" href="#" tabindex="-1">下一页</a>
			</li>
		</ul>
	</nav>
	<script>
	(function($){
	var ms = {
			init:function(totalsubpageTmep,args){
					return (function(){
							ms.fillHtml(totalsubpageTmep,args);
							ms.bindEvent(totalsubpageTmep,args);
					})();
			},
			//填充html
			fillHtml:function(totalsubpageTmep,args){
					return (function(){
							totalsubpageTmep="";
							// 页码大于等于4的时候，添加第一个页码元素
							if(args.currPage!=1 && args.currPage>=4 && args.totalPage!=4) {
									totalsubpageTmep += "<li class='page-item ali'><a href='javascript:void(0);' class='page-link geraltTb_pager' data-go='' >"+1+"</a></li>";
							}
							/* 当前页码>4, 并且<=总页码，总页码>5，添加“···”*/
							if(args.currPage-2>2 && args.currPage<=args.totalPage && args.totalPage>5) {
									totalsubpageTmep += "<li class='page-item ali'><a href='javascript:void(0);' class='page-link geraltTb_' data-go='' >...</a></li>";
							}
							/* 当前页码的前两页 */
							var start = args.currPage-2;
							/* 当前页码的后两页 */
							var end = args.currPage+2;

							if((start>1 && args.currPage<4) || args.currPage==1) {
									end++;
							}
							if(args.currPage>args.totalPage-4 && args.currPage>=args.totalPage) {
									start--;
							}
							for(; start<=end; start++) {
									if(start<=args.totalPage && start>=1) {
											totalsubpageTmep += "<li class='page-item ali'><a href='javascript:void(0);' class='page-link geraltTb_pager' data-go='' >"+start+"</a></li>";
									}
							}
							if(args.currPage+2<args.totalPage-1 && args.currPage>=1 && args.totalPage>5) {
									totalsubpageTmep += "<li class='page-item ali'><a href='javascript:void(0);' class='page-link geraltTb_' data-go='' >...</a></li>";
							}

							if(args.currPage!=args.totalPage && args.currPage<args.totalPage-2 && args.totalPage!=4) {
									totalsubpageTmep += "<li class='page-item ali'><a href='javascript:void(0);' class='page-link geraltTb_pager' data-go='' >"+args.totalPage+"</a></li>";
							}
							$(".pagination").html(totalsubpageTmep);
					})();
			},
			//绑定事件
			bindEvent:function(totalsubpageTmep,args){
					return (function(){
							totalsubpageTmep.on("click","a.geraltTb_pager",function(event){
									var current = parseInt($(this).text());
									ms.fillHtml(totalsubpageTmep,{"currPage":current,"totalPage":args.totalPage,"turndown":args.turndown});
									if(typeof(args.backFn)=="function"){
											args.backFn(current);
									}
							});
					})();
			}
	}
	$.fn.createPage = function(options){
			ms.init(this,options);
	}
})(jQuery);

$(function(){
		var page = {{curpage}};
		if(!page)
			page = 1;
		$(".pagination").createPage({
				totalPage:{{pages}},
				currPage:page,
				backFn:function(p){
					$(window.location).attr('href', "/picview/docs/1/"+p);
				}
		});
})
	</script>
{%endblock%}
